body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5); /* Alterada a definição de opacidade */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo img {
    height: auto; /* Para ajustar automaticamente a altura */
    width: 100%; /* Para ajustar automaticamente a largura */
    max-width: 180px; /* Largura máxima para evitar esticamento */
}

.header {
    padding: 20px;
    text-align: center; /* Centralizar o texto */
    z-index: 10;
}

.login_body {
    padding: 20px; /* Reduzido o espaço interno */
    z-index: 90;
    position: relative;
    max-width: 100%; /* Usar toda a largura da tela */
    margin: 0 auto; /* Centralizar o elemento horizontalmente */
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
}

.login_body h2 {
    font-size: 24px; /* Reduzida a fonte */
    color: #fff;
    margin-top: 0;
    text-align: center; /* Centralizar o texto */
}

.login_body input {
    height: 40px; /* Reduzida a altura */
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px; /* Aumentada a área de toque */
    box-sizing: border-box;
    outline: none;
    margin-bottom: 15px; /* Espaçamento inferior aumentado */
}

.login_body input:hover {
    background-color: #444;
}

.input_box {
    margin-bottom: 15px; /* Espaçamento inferior aumentado */
}

.login_box button {
    height: 40px; /* Reduzida a altura */
    width: 100%;
    color: #fff;
    background-color: #e50914;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login_box button:hover {
    background-color: #f5363f;
    cursor: pointer;
}

.support {
    color: #b3b3b3;
    font-size: 12px;
    margin-bottom: 15px; /* Espaçamento inferior aumentado */
}

.support input {
    width: auto;
    height: auto;
}

.remember {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Espaçamento inferior aumentado */
}

.remember span {
    margin-right: 5px;
    height: 25px;
}

.help a {
    text-decoration: none;
    color: #737373;
}

.help a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login_facebook {
    display: flex;
    align-items: center;
    color: #737373;
}

.login_facebook span {
    margin-right: 5px;
    font-size: 13px;
}

.login_facebook span a {
    text-decoration: underline;
    color: #737373;
}

.sign_up {
    color: #737373;
    font-size: 16px;
}

.sign_up a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.sign_up a:hover {
    text-decoration: none;
}

.terms {
    color: #737373;
    font-size: 13px;
}

.terms a {
    text-decoration: none;
    color: #0071eb;
}

.terms a:hover {
    text-decoration: underline;
}

/* Media query para telas de dispositivo móvel */
@media (max-width: 768px) {
    .login_body {
        padding: 10px;
        max-width: 90%;
    }
}

